<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net472" />
  <package id="PostSharp" version="6.9.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Aggregation" version="6.9.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="6.9.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common" version="6.9.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.9.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Model" version="6.9.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Model.Redist" version="6.9.8" targetFramework="net472" />
  <package id="PostSharp.Redist" version="6.9.8" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="19.2.0.62" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.2.0.62" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="19.2.0.62" targetFramework="net472" />
  <package id="Syncfusion.PdfViewer.WPF" version="19.2.0.62" targetFramework="net472" />
  <package id="Syncfusion.SfSkinManager.WPF" version="19.2.0.62" targetFramework="net472" />
  <package id="Syncfusion.SfTextInputLayout.WPF" version="19.2.0.62" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="19.2.0.62" targetFramework="net472" />
  <package id="Syncfusion.Themes.FluentLight.WPF" version="19.2.0.62" targetFramework="net472" />
  <package id="Syncfusion.Tools.WPF" version="19.2.0.62" targetFramework="net472" />
</packages>